.button {
	border: none;
	cursor: pointer;
	width: fit-content;
	font-weight: 800;
	&:focus {
		box-shadow: inherit;
	}
	&:active {
		box-shadow: 0px 6px 19px -4px var(--text-color-active) inset;
	}
}
