.modal {
	border-radius: 10px;
	max-width: 270px;
	display: grid;
	width: fit-content;
	padding: 1em;
	grid-template-columns: 100%;
	grid-auto-flow: row;
	gap: 0.5rem;
	place-content: start start;
	color: var(--text-color-primary);
	background: var(--background-color-thirdly);
	min-width: 19rem;
	white-space: pre-line;
	text-align: left;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	// .modal__info-close
	&__info-close {
		color: var(--text-color-active);
		background: var(--background-color-active);
		padding: 10px;
		font-size: 0.7em;
		border-radius: 10px;
		box-shadow: 0px 5px 5px -2px hsla(0, 0%, 0%, 0.2);
	}
	// .modal-close
	&-close {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}
}