.modern-radio {
	padding: 0.2em 0.7em;
	color: var(--text-color-non-active);
	display: grid;
	justify-content: center;
	width: fit-content;
	cursor: pointer;
	// .modern-radio__input
	&__input {
		appearance: none;
		position: absolute;
	}
	// .moderm-radio--checked
	&--checked {
		background: var(--background-color-active);
		color: var(--text-color-active)
	}
	// .modern-radio--focus
	&--focus{
		box-shadow: var(--box-shadow-active)
	}
}
