.toast {
   position: fixed;
	width: fit-content;
   max-width: 20em;
	padding: 0.5em;
	border-radius: 10px;
	display: grid;
	text-align: left;
	align-items: center;
	grid-template-areas:
		'icon title'
		'icon message';
	grid-template-columns: 0.4fr auto;
   column-gap: 0.4em;
	// grid-auto-rows: min-content;
	// .toast__title .toast__message
	&__title,
	&__message {
		margin: 0;
	}
	// .toast__icon
	&__icon {
      justify-self: center;
      grid-area: icon;
		width: 100%;
	}
	// .toast__title
	&__title {
      font-weight: 600;
		grid-area: title;
	}
	// .toast__message
	&__message {
		grid-area: message;
	}
	// .toast--success
	&--success {
		background-color: hsl(127, 36%, 46%);
	}
	// .toast--fail
	&--fail {
		background-color: hsl(360, 55%, 52%);
	}
	// .toast--info
	&--info {
		background-color: hsl(192, 55%, 51%);
	}
	// .toast--warning
	&--warning {
		background-color: hsl(30, 71%, 59%);
	}
	// .toast--top-right
	&--top-right {
		top: 12px;
		right: 12px;
		transition: transform 0.6s ease-in-out;
		animation: toast-in-right 0.7s;
	}
	// .toast--bottom-right
	&--bottom-right {
		bottom: 12px;
		right: 12px;
		transition: transform 0.6s ease-in-out;
		animation: toast-in-right 0.7s;
	}
	// .toast--top-left
	&--top-left {
		top: 12px;
		left: 12px;
		transition: transform 0.6s ease-in;
		animation: toast-in-left 0.7s;
	}
	// .toast--bottom-left
	&--bottom-left {
		bottom: 12px;
		left: 12px;
		transition: transform 0.6s ease-in;
		animation: toast-in-left 0.7s;
	}
}
