.habitica-subtasks-helper-textarea {
	white-space: pre-line;
	resize: none;
	padding: 12px 26px;
	border-radius: 50px;
	text-align: center;
	transition: background, color 0.15s ease-in-out;
	color: var(--text-color-active);
	background: var(--background-color-secondary);
	border: none;
	box-shadow: var(--box-shadow-primary);
	max-width: 100%;
	&:focus {
		background: var(--background-color-active);
		color: var(--text-color-active);
		box-shadow: var(--box-shadow-active);
	}
}