.habitica-subtasks-helper-textarea {
  max-width: 100%;
  padding: 12px 26px;
  resize: none;
  transition: background, color 0.15s ease-in-out;
  text-align: center;
  white-space: pre-line;
  color: var(--text-color-active);
  border: none;
  border-radius: 50px;
  background: var(--background-color-secondary);
  box-shadow: var(--box-shadow-primary);
  // .habitica-subtasks-helper-textarea:focus
  &:focus {
    color: var(--text-color-active);
    background: var(--background-color-active);
    box-shadow: var(--box-shadow-active);
  }
  // .habitica-subtasks-helper-textarea::placeholder
  &::placeholder {
    color: var(--text-color-non-active);
  }
}