/*.task-title {
	&__label {
	}
	&__input {
		
	}
	&__textarea {
		
	}
}*/

.task-difficulty {
	// grid-auto-flow: column;
	// .task-difficulty__radio-button-container
	&__modern-radio-button-group {
		display: grid;
		grid-template: '1star 2stars 2stars 3stars 3stars 3stars 4stars 4stars 4stars 4stars' auto;
		justify-content: center;
		gap: 5px;
	}
	// .task-difficulty__radio-button-container
	&__radio-button-container {
		--padding: 0 15px;
	}
}

.task-notes{
	// .task-notes__textarea
	&__textarea{
		text-align: center;
	}
}