:root {
	--text-color-primary: hsl(0, 0%, 100%);
	--text-color-non-active: hsla(0, 0%, 0%, 50%);
	--text-color-active: hsla(0, 0%, 0%, 80%);
	--font-family: 'Montserrat', sans-serif;
	--font-size: 20px;
	--background-color-primary: hsl(203, 8%, 20%);
	--background-color-secondary: hsl(0, 0%, 77%);
	--background-color-thirdly: hsl(204, 8%, 48%);
	--background-color-active: hsl(203, 20%, 71%);
}

::-webkit-scrollbar {
	width: 10px;
	// ::-webkit-scrollbar-track
	&-track {
		background: var(--background-color-primary);
	}
	// ::-webkit-scrollbar-thumb
	&-thumb {
		background: var(--text-color-primary);
		border-radius: 50px;
		// ::-webkit-scrollbar-thumb:hover
		&:hover {
			background: var(--background-color-active);
		}
	}
}

html {
	box-sizing: border-box;
	font-size: var(--font-size);
}

// Disables browser default styles

*,
*:before,
*:after {
	box-sizing: inherit;
}

*:focus {
	outline: none;
}

// End: Disables browser default styles

body {
	font-family: var(--font-family);
	font-size: var(--font-size);
	background: var(--background-color-primary);
	text-align: center;
	color: var(--text-color-primary);
}

.container {
	max-width: 700px;
	margin: 0 auto;
}

.h1 {
	font-size: 1.5em;
	font-weight: 800;
}

.paragraph {
	margin: 0;
}

.button {
	border: none;
}

.input-section {
	display: grid;
	gap: 0.4em;
}

.form{
	display: grid;
	gap: 15px;
}

.textarea,
.input,
.modern-radio-button-container {
	--padding: 12px 26px;
	--width: 100%;
	--border-radius: 50px;
	--text-align: center;
	transition: background, color 0.15s ease-in-out;
	color: var(--text-color-active);
	width: var(--width);
	padding: var(--padding);
	text-align: var(--text-align);
	border-radius: var(--border-radius);
	background: var(--background-color-secondary);
	border: 0;
	&--active {
	}
	&--auto-size {
		--width: fit-content;
		width: var(--width);
		max-width: 100%;
		margin: 0 auto;
	}
	&:focus {
		background: var(--background-color-active);
		&::placeholder {
			color: var(--text-color-non-active);
			visibility: hidden;
		}
	}
}

.modern-radio-button {
	&-container {
		padding: 0;
		&--checked {
			background: var(--background-color-active);
			color: var(--text);
		}
		&--little {
			--width: min-content;
		}
		&__radio-button {
			position: absolute;
			width: 0;
			height: 0;
		}
		&__svg {
			fill: currentColor;
		}
		// .modern-radio-button-container__label
		&__label {
		}
		// .modern-radio-button-container-label
		&-label {
			border-radius: inherit;
			// .modern-radio-button-container-label__content
			&__content {
				padding: 0 26px;
				display: grid;
				place-content: center;
				cursor: pointer;
				border-radius: inherit;
			}
		}
	}
}

.textarea {
	text-align: left;
	resize: none;
}
.label {
	display: grid;
	// .label__content
	&__content {
		display: grid;
		font-size: 1.3em;
		font-weight: 600;
		place-content: center;
		grid-auto-flow: column;
		gap: 5px;
		align-items: center;
	}
}

.info-button {
	--border-radius: 50px;
	--font-size: 1.2rem;
	--font-weight: 700;
	--width: 30px;
	--height: 30px;
	display: grid;
	place-content: center;
	width: var(--width);
	height: var(--height);
	font-weight: var(--font-weight);
	font-size: var(--font-size);
	border-radius: var(--border-radius);
	background: var(--background-color-thirdly);
	cursor: pointer;
}

.modal {
	--border-radius: 10px;
	--max-width: 220px;
	--display: grid;
	--width: fit-content;
	width: var(--width);
	padding: 1em;
	display: var(--display);
	grid-template-columns: 100%;
	grid-auto-flow: row;
	gap: 0.5rem;
	place-content: start start;
	color: var(--text-color-primary);
	background: var(--background-color-thirdly);
	border-radius: var(--border-radius);
	max-width: var(--max-width);
	min-width: 18rem;
	white-space: pre-line;
	text-align: left;
	&-close {
		color: var(--text-color-active);
		background: var(--background-color-active);
		padding: 10px;
		font-size: 0.7em;
		border-radius: 10px;
		box-shadow: 0px 5px 5px -2px hsla(0, 0%, 0%, 0.2);
	}
	&-container {
		position: fixed;
		top: 0;
		left: 0;
		min-width: 100%;
		min-height: 100%;
		display: grid;
		place-content: center;
		&::before {
			content: '';
			position: fixed;
			top: 0;
			left: 0;
			min-width: 100%;
			min-height: 100%;
			filter: blur(4px);
			z-index: 1;
		}
	}
}

.message {
	// .message-container
	&-container {
		display: grid;
	}
}
