:root {
	--text-color-primary: hsl(0, 0%, 100%);
	--text-color-non-active: hsla(0, 0%, 0%, 50%);
	--text-color-active: hsla(0, 0%, 0%, 80%);
	--font-family: 'Montserrat', sans-serif;
	--background-color-primary: hsl(203, 8%, 20%);
	--background-color-secondary: hsl(0, 0%, 77%);
	--background-color-thirdly: hsl(204, 13%, 36%);
	--background-color-active: hsl(203, 20%, 71%);
	--box-shadow-primary: 0px 7px 30px 13px hsla(0, 0%, 0%, 0.25);
	--box-shadow-active: 0px 6px 19px -4px var(--text-color-active) inset;
}

::-webkit-scrollbar {
	width: 10px;
	// ::-webkit-scrollbar-track
	&-track {
		background: var(--background-color-primary);
	}
	// ::-webkit-scrollbar-thumb
	&-thumb {
		background: var(--text-color-primary);
		border-radius: 50px;
		// ::-webkit-scrollbar-thumb:hover
		&:hover {
			background: var(--background-color-active);
		}
	}
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

*:focus {
	outline: none;
}

body {
	font-family: var(--font-family);
	background: var(--background-color-primary);
	text-align: center;
	color: var(--text-color-primary);
}

.container {
	max-width: 700px;
	margin: 0 auto;
}

.h1 {
	font-size: 1.5em;
	font-weight: 800;
}

.svg {
	fill: currentColor;
}
