.app {
  padding-bottom: 50px;
}

.info-button-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-areas: 'none questions-origin info-button';
  grid-template-columns: 1fr auto 1fr;
  gap: 5px;
  &__questions-origin {
    grid-area: questions-origin;
  }
}



.habitica-subtasks-helper-info-button {
  grid-area: info-button;
  justify-self: left;
}

.separator {
  gap: 0.5em;
  // .separator__input
  &__input {
    justify-self: center;
    font-weight: 800;
  }
}

.subtasks__textarea--focus {
  box-shadow: none;
}

.priority {
  // .priority__radio-group
  &__radio-group {
    grid-auto-flow: row;
    @media (min-width: 720px) {
      grid-auto-flow: column;
    }
  }
}

.type-radio-group {
  grid-auto-flow: column;
}

.amount {
  // . .amount__input
  &__input {
    width: 12ch;
    justify-self: center;
  }
}

.submit__submit-button {
  margin-top: 15px;
  justify-self: center;
}